@charset "utf-8";

.breadcrumb-text {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}

.breadcrumb-text a:nth-child(1):after {
	color: #252525;
}

.breadcrumb-text a {
	display: inline-block;
	font-size: 16px;
	color: black;
	margin-right: 28px;
	position: relative;
	text-decoration: none;
}

.breadcrumb-text#breadcrumbs-next {
	position: relative;
	font-family: "FontAwesome";
	font-size: 16px;
	color: #b2b2b2;
}

.breadcrumb-text span {
	display: inline-block;
	color: #b2b2b2;
}

/*Main*/

.cs-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.cs-section .loading-more {
	padding-top: 0;
}

.cs-sidebar .search-form {
	margin-bottom: 60px;
}

.cs-sidebar h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 14px;
	font-family:'Raleway';
	font-size:25px;
}

.cs-sidebar .search-form form {
	position:relative;
}

.cs-sidebar .search-form form input {
	font-family:'Roboto Slab';
	height: 50px;
	width: 100%;
	border: 2px solid rgb(221, 218, 218);
	padding-left: 10px;
	font-size: 18px;
	color: #b2b2b2;
}

.cs-sidebar .search-form form button {
	position: absolute;
	right: 0;
	font-size:20px;
	color: #ffffff;
	background: #000000;
	border: 1px solid #000000;
	height: 50px;
	padding:0 15 0 15;
	cursor: pointer;
}

.cs-sidebar .cs-category {
	margin-bottom: 60px;
}

.cs-sidebar .cs-category ul li {
	list-style: none;
}

.cs-sidebar .cs-category li {
	font-family:'Roboto';
	position:relative;
	right:37px;
	font-weight:400;
}

.cs-sidebar .cs-category ul li a {
	font-size: 16px;
	color: #636363;
	line-height: 39px;
	text-decoration: none;
}

.cs-sidebar .cs-category ul li a:hover {
	color: #1b1b1b;
}

.cs-sidebar .recent-post {
	margin-bottom: 55px;
}

.cs-sidebar .recent-post h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 28px;
}

.cs-sidebar .recent-post .recent-blog .rb-item {
	overflow: hidden;
	margin-bottom: 30px;
	display: block;
}

.cs-sidebar a{
	text-decoration: none;
}

.cs-sidebar .recent-post .recent-blog .rb-item .rb-pic {
	float: left;
}

.cs-sidebar .recent-post .recent-blog .rb-item .rb-pic img {
	height: 80px;
	width:100px;
}

.cs-sidebar .recent-post .recent-blog .rb-item .rb-text {
	display: table;
	padding-left: 16px;
}

.cs-sidebar .recent-post .recent-blog .rb-item .rb-text h6 {
	color: #252525;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 10px;
	font-family:'Arial';
}

.cs-sidebar .recent-post .recent-blog .rb-item .rb-text p {
	font-family:'Roboto Slab';
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7ab3c;
	letter-spacing: 2px;
	line-height: 20px;
}

.cs-sidebar .recent-post .recent-blog .rb-item .rb-text p span {
	font-family:'Roboto';
	color: #b2b2b2;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

.cs-title{
	margin-top:20px;
	margin-bottom: 40px;
	background-color: black;
	color: white;
	font-weight: 700;
	padding-right:30px;
	font-size: 40px;
	text-align: right;
	font-family:'Raleway';
}

.cs-title #calendar-icon{
	position: relative;
	right: 480px;
}

@media only screen and (max-width: 990px) {
	.cs-title #calendar-icon{
		visibility:hidden;
	}
}

.cs-item {
	margin-bottom: 100px;
}

.cs-item .cs-pic .saletag {
	font-family:'Baloo Paaji 2';
	text-decoration: bold;
	font-weight: 700;
	font-size:16px;
	position: absolute;
	top:8px;
	left: 16px;
	background-color:rgb(247, 58, 58);
	color:black;
	width:12%;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.35);
  }

.cs-item .cs-pic img{
	max-width: 350px;
	max-height: 600px;
}

.cs-item .cs-text {
	padding-top: 24px;
	font-family:'Roboto Slab';
}

.cs-item .cs-text button {
	color: black;
	font-weight: 700;
	line-height: 30px;
	font-size: 25px;
	font-family:'Raleway';
}

.cs-item .cs-text p {
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 700;
	color: #e7ab3c;
	text-transform:uppercase;
	letter-spacing: 2px;
	line-height: 20px;
}

.cs-item .cs-text p span {
	font-family: 'Roboto';
	color: gray;
	text-transform:capitalize;
	font-weight: 400;
	letter-spacing: 0;
}

.cs-item .cs-text #pricetag {
	color: gray;
	font-size:40px;
	font-weight: 400;
	letter-spacing: 0;
	text-align: right;
}

.cs-item .cs-text .cs-item{
	color: red;
}

.collapsible {
	background-color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.collapsible:after {
	content: '\002B';
	color: black;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
  
.active:after {
	content: "\2212";
}
  
.desc-content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: white;
}

.cs-tags .tag-item a {
	display: inline-block;
	font-size: 16px;
	color: #ebebeb;;
	padding: 5px 15px;
	border: 1px solid #ebebeb;
	margin-right: 5px;
	margin-bottom: 9px;
	border-radius: 2px;
	background-color: #636363;
	font-family: 'Roboto';
	text-decoration: bold;
	border-radius: 4px;
  }

.loading-more a{
	  font-family:'Arial';
}


.loading-more i{
	color:rgb(114, 174, 253);
}