@charset "utf-8";

/* Header */

.header-section{
	background-color: black;
}

.header-top {
	display: flex;
    background-color:black;
    color:rgb(216, 216, 216);
}

.header-top .ht-left {
    float: left;
}

.header-top .ht-left .mail-service {
	font-size: 16px;
	float: left;
	border-right: 1px solid #e5e5e5;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
}

.header-top .ht-left .mail-service i {
	margin-right: 5px;
}

.header-top .ht-left .phone-service {
	float: right;
	font-size: 14px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 12px;
	padding-left: 20px;
}

.header-top .ht-left .phone-service i {
	margin-right: 5px;
}

.header-top .ht-right {
	float: right;
}

.header-top .ht-right .login-panel {
    font-family:'Lato';
    color: rgb(216, 216, 216);
    text-decoration: none;
	float:right;
	font-size: 16px;
	padding-left: 20px;
    border-left: 1px solid #e5e5e5;
	padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
}

.header-top .ht-right .login-panel i {
    margin-right: 8px;
}

.header-top .ht-right .lan-selector {
    margin-left: 20px;
    margin-right: 20px;
    display:inline-block;
}

.header-top .ht-right .top-social {
    display:inline-block;
    padding:15px;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
    text-align: center;
}

.header-top .ht-right .top-social a {
    color: rgb(216, 216, 216);
    text-decoration: none;
    font-size: 14px;
    margin-left:5px;
    margin-right:5px;
}

.ht-right .lan-selector select{
    background-color: black;
    color: rgb(216, 216, 216);
    border:none; 
    padding-bottom:2px;
    border-bottom: 1px solid #636363;
}

.inner-header {
    padding: 39px 0;
}

.inner-header .logo img{
	position:absolute;
	right:20px;
    width:200px;
    height:120px;
}

.inner-header .logo a {
	display: inline-block;
}

.inner-header .advanced-search .row{
	height:30px;
	font-family:'Raleway';
}

.inner-header .advanced-search .category-btn{
    width: 30%;
	background: white;
	border:none;
	border-right:solid 1px #e0e0e0;
	padding-top: 11px;
	padding-bottom: 13px;
	font-size: 16px;
	color: #252525;
}

.inner-header .advanced-search .category-btn #music-plus, .inner-header .advanced-search .category-btn #music-minus{
	font-size: 16px;
	color: #b2b2b2;
}

.inner-header .advanced-search .category-btn #music-skull{
	left:20px;
	font-size: 16px;
	color: #b2b2b2;
	margin-left:20px;
}

.inner-header .advanced-search input {
	width: 100%;
	border: none;
	font-size: 16px;
	color: #d1d1d1;
	display:inline-block;
}

.inner-header .advanced-search input::placeholder{
	text-align:right;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.company-name{
	position:relative;
	top:40px;
	font-size:30px;
	font-weight:200;
	color:rgb(240, 240, 240);
}

.company-name span{
	position:relative;
	top:-8px;
	left:15px;
	font-size:14px;
	font-weight:200;
	color:rgb(156, 156, 156);
}

.inner-header .nav-right {
    padding: 10px 0;
}

.inner-header .nav-right .heart-icon {
	display:inline-block;
	list-style: none;
	font-size: 30px;
	margin-left: 15px;	
}

.inner-header .nav-right .heart-icon a {
	display:inline-block;
	position:relative;
	color: white;
}

.inner-header .nav-right .heart-icon span {
	position: absolute;
	right: -8px;
	top: -4px;
	height: 20px;
	width: 20px;
	background: rgb(219, 43, 43);
	color:white;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	line-height: 20px;
}

.inner-header .nav-right .cart-icon{
	display:inline-block;
	list-style: none;
	font-size: 30px;
	margin-left: 15px;
	color: white;	
}

.inner-header .nav-right .cart-icon a{
	display:inline-block;
	position:relative;
	color: white;
}

.inner-header .nav-right .cart-icon span {
	position: absolute;
	right: -8px;
	top: -4px;
	height: 20px;
	width: 20px;
	background: rgb(219, 43, 43);
	color: white;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	line-height: 20px;
}

.inner-header .nav-right .cart-icon:hover .cart-hover {
	opacity: 1;
	visibility: visible;
	top: 60px;
}

.inner-header .nav-right .cart-icon .cart-hover {
	position: absolute;
	right: -70px;
	top: 100px;
	width: 350px;
	background: #ffffff;
	z-index: 99;
	text-align: left;
	padding: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.inner-header .nav-right .cart-icon .cart-hover .select-items table {
	width: 100%;
}

.inner-header .nav-right .cart-icon .cart-hover .select-items table tr td {
	padding-bottom: 20px;
}

.inner-header .nav-right .cart-icon .cart-hover .select-items table tr td.si-pic img {
	width:100px;
	height:80px;
	border: 1px solid #ebebeb;
}

.inner-header .nav-right .cart-icon .cart-hover .select-items table tr td.si-text {
	padding-left: 18px;
}

.inner-header .nav-right .cart-icon .cart-hover .select-items table tr td.si-text .product-selected p {
	font-family:"Baloo Paaji 2";
	font-weight:800;
	color: rgb(87, 87, 87);
	line-height: 30px;
	margin-bottom: 7px;
}

.inner-header .nav-right .cart-icon .cart-hover .select-items table tr td.si-text .product-selected h6 {
	font-family:"Baloo Paaji 2";
	color: #232530;
}

.inner-header .nav-right .cart-icon .cart-hover .select-total {
	border-top: 1px solid #e5e5e5;
	padding-top: 26px;
	margin-bottom: 90px;
}

.inner-header .nav-right .cart-icon .cart-hover .select-total h4 {
	color: black;
	float: left;
	font-size:16px;
}

.inner-header .nav-right .cart-icon .cart-hover .select-total h5 {
	color: black;
	float: right;
}

.inner-header .nav-right .cart-icon .cart-hover .select-button .view-cart {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	background: #191919;
	color: #ffffff;
	padding: 15px 30px 12px;
	margin-bottom: 10px;
}

.inner-header .nav-right .cart-icon .cart-hover .select-button .feedback-btn {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	background: #191919;
	color: #ffffff;
	padding: 15px 30px 12px;
	margin-bottom: 10px;
}

.inner-header .nav-right .cart-price {
	float:right;
	text-align:right;
	font-family:"Raleway";
	font-size: 25px;
	font-weight: 400;
	color: white;
}

.nav-item {
	background: #252525;
	display: flex;
}
.nav-item .nav-menu {
	display: inline-flex;
	position: relative;
}

.nav-item .nav-menu li {
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	position: relative;
	box-sizing:border-box;
}

.nav-item .nav-menu li.active a {
	background: black;
}

.nav-item .nav-menu li a {
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	border-right: 2px solid #707070;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	text-transform: uppercase;
	padding: 16px 42px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
}

.nav-item .nav-menu li #help-select {
	border-right:none;
}

.nav-item .nav-menu li:hover>a {
	background: black;
}

.nav-item .nav-menu li:hover .dropdown {
	opacity: 1;
	visibility: visible;
}

.nav-item .nav-menu li .dropdown {
	position: absolute;
	z-index: 2;
	background: black;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li .dropdown li {
	display: block;
	margin-left: 0;
}

.nav-item .nav-menu li .dropdown li:hover>a {
	background: transparent;
	color: white;
}

.nav-item .nav-menu li .dropdown li a {
	border-right: 0;
	padding: 13px 20px 12px 30px;
	text-transform: capitalize;
}

/* Breadcrumbs */

.breadcrumb-text {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}

.breadcrumb-text a:nth-child(1):after {
	color: #252525;
}

.breadcrumb-text a {
	display: inline-block;
	font-size: 16px;
	color: black;
	margin-right: 28px;
	position: relative;
	text-decoration: none;
}

.breadcrumb-text#breadcrumbs-next {
	position: relative;
	font-family: "FontAwesome";
	font-size: 16px;
	color: #b2b2b2;
}

.breadcrumb-text span {
	display: inline-block;
	color: #b2b2b2;
}

.map {
	padding-top: 80px;
	padding-bottom: 0;
}

.map-inner {
	height: 610px;
	position: relative;
}

.map-inner iframe {
	width: 100%;
}

.contact-section {
	padding-top: 75px;
	padding-bottom: 80px;
}

.contact-title {
    margin-bottom: 30px;
    margin-top:40px; 
    font-family:'Baloo Paaji 2';
    font-size:18px;
}

.contact-title h4 {
	color: #252525;
	font-weight: 700;
    margin-bottom: 16px;
    font-size: 50px;
}

.contact-title i{
    color: rgb(56, 56, 56);
    
}

.contact-widget .cw-item {
	background: #ffffff;
	margin-bottom: 10px;
	-webkit-box-shadow: 25px 14px 19px 2px rgba(166,166,166,0.68);
    -moz-box-shadow: 25px 14px 19px 2px rgba(166,166,166,0.68);
    box-shadow: 25px 14px 19px 2px rgba(166,166,166,0.68);
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.contact-widget .cw-item .ci-icon {
	float: left;
	margin-top: 12px;
}

.contact-widget .cw-item .ci-icon i {
	font-size: 30px;
	color: #b2b2b2;
}

.contact-widget .cw-item .ci-text {
    padding-left: 55px;
    font-family:'Open Sans';
}

.contact-widget .cw-item .ci-text span {
	color: #b2b2b2;
    font-size: 16px;
    font-family:'Raleway';
}

.contact-widget .cw-item .ci-text p {
	font-size: 18px;
	color: #252525;
	margin-bottom: 0;
}

.contact-form .leave-comment{
    margin-bottom: 30px;
    margin-top:40px; 
    font-size:18px;
    font-family:'Baloo Paaji 2';
}

.contact-form .leave-comment h4 {
	color: #252525;
	font-weight: 700;
    margin-bottom: 16px;
    font-size:50px;
}

.contact-form .leave-comment p {
	margin-bottom: 38px;
}

.contact-form .leave-comment span{
    color: #b2b2b2;
    font-size: 16px;
}

.contact-form .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.contact-form .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 150px;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 35px;
}

.contact-form .leave-comment .comment-form .btn-group-toggle {
    width: 100%;
    margin-left: 15px;
    
}

#customer-name:focus, #customer-email:focus{
    background-color: rgb(250, 246, 196);
 }

 #customer-name:focus:valid,  #customer-email:focus:valid{
    background-color: rgb(220,255,220);
 }

 #customer-name:focus:invalid,  #customer-email:focus:invalid{
    background-color: rgb(255,232,232);
 } 